<img class="logoIMG" src="~/Imagenes/Sin título-1.jpg" />
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello Word</h1>
<h4><a href="/HelloWord/CarritoDeCompras">ir al carrito de compras </a></h4>

