@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <input type="button" value="Los Mejores Del Mes" name="Boton los mejores del mes menu" onclick="location.href='http://www.google.cl'" />  <input type="button" value="Búsqueda Avanzada" name="boton busqueda avanzada menu" onclick="location.href='http://www.google.cl'" /> <input type="button" value="Contacto" name="boton contacto inicio" onclick="location.href='http://www.google.cl'" />
</div>
<div id="busqueda-Basica">

</div>
