
@{
    ViewBag.Title = "Home Page";
}



<div>
    <div><h4>Búsqueda Basica</h4></div>
    <h6>selecciona region: </h6> <div id="region-de-busqueda">
      <input type="text" list="Regiones" />
        <datalist id="Regiones">
            <option>Metropolitana</option>
            <option>Los Lagos</option>
        </datalist>
    </div>
    <div id="Introduce-cine">        
        <form name="ejemplo" action="22-html5-search-input.php" method="POST">
            Introduce el término de búsqueda: <input type="search" name="busqueda"><br>
            <input type="submit" value="Enviar">
        </form></div>
</div>


